body{
    background: rgb(214, 115, 132)
    ;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: darkslategray;
  }
  
  main {
    display: flex; 
    justify-content: center;
  }
  
  form {
    width: 350px;
    height: 350px;
    background-color: darkslategray;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button  {
    background-color: #7c4e4e;
    width: 100px;
    height: 50px;
    display: inline-block;
    color: rgb(9, 19, 18);
    border: none;
    margin: 5px;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  

  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #moods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .mood-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .mood-card {
    background-color: rgb(134, 79, 122);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .house-address {
    font-size: 18px;
    margin: 5px 0;
  }
  

 